
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <section id="connect-section" class="container center-align hide">
        <h1>find a room</h1>
        <div id="connect__tags-input" class="chips chips-placeholder left-align white-text"></div>

        <div class="container" id="games-list"></div>
    </section>
