
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <section id="create-section" class="container center-align">
        <h1>start a new game?</h1>
        <div id="create__tags-input" class="chips chips-placeholder left-align white-text"></div>
        <a class="btn-large transparent" onclick="createGame()"><i class="material-icons left">add_circle</i>Create game</a>
    </section>